
mat-card {
  max-width: 640px;  
  margin: 0 0 10px 0;
}

mat-card-title a {
  font-size: 18px;
  text-decoration: none;
}
mat-card-content {
 padding: 10px 0 0 0;
}
mat-card-subtitle {
  display: flex;
  align-items: center;
  i {
    font-size: 8px;
    margin: 0 10px 0 10px;
  }
}

.like-msg {
  font-size: 12px;
}

.picture {
  max-width: 640px;
  img {
    width: 100%;
  }
}